/* Estilos para Leandro de Souza - Front-End */
* {margin: 0; padding: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
body {font-family: 'Lato', 'Arial', sans-serif;font-size: 17px; color: #666; overflow-x: hidden;line-height: 130%;text-rendering: optimizeLegibility;}
main {margin: 0 auto; padding: 0;letter-spacing: 1px;}
a {color: #333; text-decoration: none;}
a:hover {color: #1b80c2;}
p {margin: 10px 0;}
section {padding: 35px 0;}
section ul {margin-top: 15px;}
section ul li{padding: 3px 0; list-style: none;}
article {padding: 10px; background-color: #EEE;}
header{padding: 5px 0; margin-top: 5px;}
.clearfix {zoom: 1;}
.clearfix:after { content: '.'; clear: both; display: block; height: 0;visibility: hidden;}
.alignleft {text-align: left;}
.alignright {text-align: right;}
.aligncenter {text-align: center;}
.row {max-width: 1140px; margin: 0 auto;}
.box { padding: 1%; text-align: center; }
.boxa {padding: 1% 2.5%;}
.ico { font-size: 120%; margin-right: 5px;}
.big { font-size: 180%; margin: 10px;}
.sbig { font-size: 400%; color: #1b80c2; margin-bottom: 50px;}
.br {background-color: #fff;} 
.br h2 {text-align: center; font-weight: 500;  color: #042230;}
.wordpress {background-color: #042230; color: #ccc;}
.wordpress h2 {color: #fff;}
.opencart {background-color: #DDD; color: #333;}
h1,h2, h3, h4 { font-weight: 300; margin-bottom: 10px; line-height: 100%;;}
h1 {font-size: 230%; text-align: center;}
h2 {font-size: 160%;color: #000;}
h4 {color: #87bee4; font-size: 120%;}
.logo {float: left; margin-left: 45px;}
.menu { float: right; padding: 5px 0;list-style: none;margin-top: 25px; }
.menu ul {padding: 0;}
.menu li { display: inline-block;  margin-right: 15px;text-transform: uppercase; font-weight: 400; }
.btn { background-color: #1b80c2;padding: 10px 22px; border-radius: 5px; margin-top: 25px; text-align: center;border: none; color: #fff; }
.btn a {color: #fff;} 
button:hover {background-color: #0c6e9a; transition: 0.2s;;}
footer {background-color: #042230; color: #ccc; padding: 20px;} 
footer a{ color: #eee;}
footer li {list-style: none; margin: 3px 0;}
